body {
    margin-top: 58px;
}

.full-width {
    padding-left: 0;
    padding-right: 0;
}

/* Sticky navbar to top */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

span.mac {
    font-size: .75em;
}

.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header h1 {
    font-size: 18px;
    font-family: 'Raleway';
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
}

.header h1 a {
    font-weight: normal;
    color: #FFF;
    text-decoration: none;
}

.header h1 a:hover {
    text-decoration: underline;
}

.header h1 .abridge {
    display: none;
}
@media (min-width: 768px) {
    .header h1 .abridge {
        display: inherit;
    }
}

.social-link {
    font-size: 28px;
    padding: 0;
}

.page-title {
    text-align: center;
    padding: 30px 0;
}
.page-title h2 {
    font-family: 'Raleway';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 24px;
    margin-bottom: 30px;
}
.page-title p {
    max-width: 600px;
    margin: 0 auto 30px auto;
}

.page-title h3 {
    font-size: 1.3em;
}

@media (min-width: 768px) {
    .page-title p.instructions .tap {
        display: none;
    }
    .page-title p.instructions .click {
        display: initial;
    }
}

/* other things */

img.profile {
    width: calc(40% - 10px);
    padding: 0 10px 10px  0px;
    float: left;
}

blockquote {
    clear: both;
    margin-top: 40px;
    text-align: left;
    border-left: 4px solid #DDD;
    padding-left: 16px;
}

.quote-author {
    width: 100%;
    text-align: right;
    margin-bottom: 50px;
    color: #888;
}

.category-endorsement {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;
}

.endorsements a {
    color: #888;
    text-decoration: underline;
}

.list-section-title {
    margin: 20px 0 0 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.cta {
    background-color: #5bc0de;
}

.banner {
    min-height: 200px;
    background-size: cover;
    background-position: center 60%;
    margin-bottom: 45px;
}
.banner-short {
    min-height: 150px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .banner { min-height: 300px; }
    .banner-short { min-height: 225px }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .banner { min-height: 350px;  }
    .banner-short { min-height: 260px; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .banner { min-height: 400px; }
    .banner-short { min-height: 300px;  }
}

#portfolio-gallery {
    margin-bottom: 60px;
}

.newsletter {
    background-color: #eee;
    padding-bottom: 60px;
    margin-top: 60px;
}

/** MAILCHIMP STYLE TWEAKS **/
body #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    background-color: transparent;
}

body #mc_embed_signup div#mce-responses {
    margin: 0;
    padding: 0;
    width: 100%;
}
body #mc_embed_signup div.response {
    margin-top: 0;
    padding-top: 0;
    width: inherit;
}

body #mc_embed_signup #mce-success-response {
    width: initial;
}

body #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    padding: 5px 0;
}

body #mc_embed_signup .mc-field-group {
    width: initial;
    padding-bottom: initial;
}

body #mc_embed_signup .button {
    margin-top: 6px;
}
