{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xs-12 page-title"><h2>Contact</h2></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <p>For bookings and rate inquiries, email your full name and a description of the event or job.</p>
            <p><b>Email</b>: andrew.macrobert@gmail.com</p>
            <p><b>Phone</b>: (781) 353-1924</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 page-title"><h2>About</h2></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <img src="{{ asset('images/profile.jpg') }}" class="profile">
            <p>I am a Boston-based photographer. I shoot concerts, nightlife, fashion, weddings, festivals, and any other assignments. I specialize in nightlife and capturing incredible moments wherever there is a party.</p>
            <p>I'm local to Boston, but available for bookings worldwide.</p>

            {# Testimonials #}
            {% for endorsement in endorsements %}
                <blockquote>{{ endorsement.quote }}"</blockquote>
                <div class="quote-author">&mdash; {{ endorsement.byline }}</div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
