{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-xs-12 page-title"><h2>Contact</h2></div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <p>For bookings and inquiries, please email me your full name and a description of the event or job you would like to hire me for.</p>
            <p><b>Email</b>: andrew.macrobert@gmail.com</p>
            <p><b>Phone</b>: (781) 353-1924</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 page-title"><h2>About</h2></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <img src="{{ asset('images/profile.jpg') }}" class="profile">
            <p>I am a Boston-based photographer. I picked up photography in October of 2014 and soon after began shooting nightclubs. Since, I've evolved into photographing concerts, models, editorials, weddings, and festivals. I specialize in nightlife and capturing incredible moments wherever there is a party.</p>
            <p>I'm local to Boston, but available for bookings worldwide.</p> 

            <blockquote style="clear: left">Andrew MacRobert is in my opinion is the best nightlife photographer in Boston."</blockquote>
            <span class="quote-author">&mdash; Matt Keene, manager of Keene Marcil Group</span>

        </div>
    </div>

{% endblock %}
