{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-12 page-title"><h2>Bookings and Inquiries</h2></div>
        </div>

        <div class="row">
            <div class="col-xs-12 banner" style="background-image:url({{ asset('images/banner/panorama1.jpg') }})">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <p>Whatever your photographic needs are &mdash; a wedding, press shots, a club night, or something else &mdash; I'm fully committed to working with you to deliver work you are absolutely thrilled with.</p>

                <p>In our media-saturated world, high quality images are paramount to the success of your brand, promotion of your events, and engagement of your audience. Don't take a chance with your business or special day. Your needs warrant a seasoned photographer. I look forward to working with new clients, taking on new challanges, and building lasting relationships by constantly outdoing myself.</p>

                <p>The best way to get in contact with me is email. If it's an urgent last-minute request, call or text.</p>

                <p>&mdash; Andrew MacRobert</p>

                <div class="panel panel-default" style="margin-top:30px">
                    <div class="panel-heading">
                        <h3 class="panel-title">Contact Info</h3>
                    </div>
                    <table class="table">
                        <tr>
                            <th>Email (preferred)</th>
                            <td><a target="_blank" href="mailto:andrew@andrewmacrobert.com">andrew@andrewmacrobert.com</a></td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td><a target="_blank" href="tel:+17813531924">(781) 353-1924</a></td>
                        </tr>
                        <tr>
                            <th>Instagram</th>
                            <td><a target="_blank" href="//instagram.com/andrew.macrobert">@andrew.macrobert <i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                        </tr>
                        <tr>
                            <th>Facebook</th>
                            <td><a target="_blank" href="//facebook.com/andrewmacrobertphoto">Andrew MacRobert Photography <i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                        </tr>
                        <tr>
                            <th>Twitter</th>
                            <td><a target="_blank" href="//twitter.com/andrewmacrobert">@andrewmacrobert <i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

        {% include 'default/newsletter.html' %}

    </div>

{% endblock %}
