{% extends 'base.html.twig' %}

{% block title %}Video{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xs-12 page-title">
            <h2>Video</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" style="text-align:center">

            <div class="video-item">
                <iframe src="https://player.vimeo.com/video/192579935?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <p>FOUNDATION ROOM AFTER PARTIES <strong>2016-11-22</strong></p>
            </div>

            <div class="video-item">
                <iframe src="https://player.vimeo.com/video/190958852?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <p>SAM PACE @ ROYALE BOSTON <strong>2016-11-09</strong></p>
            </div>
        </div>
    </div>

{% endblock %}
