{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-12 page-title"><h2>About</h2></div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <img src="{{ asset('images/profile5.jpg') }}" title="Andrew MacRobert" class="profile">
                <p>I am a Boston-based nightlife photographer committed to delivering outstanding content for my clients.</p>
                <p>Since 2014, I have been photographing concerts, club nights, bar crawls, and privates events in New England. I take a lot of pride in my work, both at the event and in post production.</p>
                <p>I'm local to Boston, and available for bookings worldwide. If you like what you see on this website, <a href="/bookings" style="text-decoration:underline">contact me</a> for a booking.</p>

                {# Testimonials #}
                <div class="endorsements">
                    {% for endorsement in endorsements %}
                        <blockquote>{{ endorsement.body }}"</blockquote>
                        <div class="quote-author">&mdash; {{ endorsement.author|raw }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% include 'default/newsletter.html' %}

    </div>

{% endblock %}
