{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-12 page-title">
                <h2>Photography Blog</h2>
            </div>
        </div>

        {% include 'default/blog_post_list.html.twig' %}

        {% include 'default/newsletter.html' %}

    </div>

{% endblock %}
