{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">

        <div class="row">

            <div class="homepage-parallax">

                <div class="jarallax" data-jarallax data-speed=".1" style="background-image: url({{ asset('/images/ferry-corsten-01.jpg') }})">
                    <div class="hero">
                        <h2 style="margin-bottom: .1em; font-size: 1.8em">Andrew <span class='mac'>Mac</span>Robert</h2>
                        <h1 style="margin-top: 0">Boston Nightlife Photographer</h1>
                        <a href="/bookings" class='btn btn-light btn-lg' role="button">
                            Rates & Bookings
                        </a>
                    </div>
                </div>

                <div class="textbox">
                    <div class="textbox-content">
                        <h3>Concerts & Nightlife</h3>
                    </div>

                    <div class="portfolio-gallery">
                        {% for photo in photos.concerts %}
                            {% include 'default/component/gallery-slide.html.twig' %}
                        {% endfor %}
                    </div>

                    <p>
                        <a href='/photos/nightlife-events' class='btn btn-secondary btn-lg'>Full Concert Portfolio »</a>
                    </p>
                </div>

                <div class="textbox">
                    <div class="textbox-content">
                        <h3>Portraits</h3>
                    </div>

                    <div class="portfolio-gallery">
                        {% for photo in photos.portraits %}
                            {% include 'default/component/gallery-slide.html.twig' %}
                        {% endfor %}
                    </div>

                    <p>
                        <a href='/photos/portraits' class='btn btn-secondary btn-lg'>Full Portrait Portfolio »</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <style>
        .jarallax {
            height: 80vh;
        }
        .hero {
            position: relative;
            top: calc(35vh);
            background-color: rgba(0, 0, 0, .4);
            /*box-shadow: 0 0 10px rgba(0, 0, 0, .4);*/
            padding: 15px;
            text-align: center;
        }
        .hero h1, .hero h2 {
            font-family: 'Raleway';
            color: white;
            text-transform: uppercase;
        }

        .homepage-parallax h3 {
            font-family: 'Raleway';
            text-align: center;
            text-transform: uppercase;
            margin: 0 0 2rem 0;
        }
        .homepage-parallax .textbox {
            width: 100%;
            padding: 3rem;
            background-color: rgba(255, 255, 255, .7);
            color: #333;
            background-color: #fff;
            box-shadow: 0 0 30px rgba(0, 0, 0, .25);
            position: relative;
            z-index: 1;
            margin-bottom: 60px;
            margin-top: 30px;
        }
        .homepage-parallax .textbox-content {
            max-width: 750px;
            margin: 0 auto;
        }
        .homepage-parallax .textbox p {
            font-size: 1.1em;
            text-align: center;
        }
        .homepage-parallax .textbox p a:not(.btn) {
            text-decoration: underline;
        }
        .homepage-parallax .textbox p .btn {
            text-transform: uppercase;
        }
        .portfolio-gallery {
            margin-bottom: 6rem;
        }

    </style>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>

        var jgOptions = {
            rowHeight: 300,
            lastRow: 'center',
            margins: 10,
            waitThumbnailsLoad: true
        };

        $(function() {
            $('.portfolio-gallery').justifiedGallery(jgOptions);

            $('.swipebox').swipebox({hideBarsDelay: 2000});
        });
    </script>
{% endblock %}
